header{
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 50%;
  background-image: url(photos/background.png);
}

.img_logo{
  width: 20%;
  height: 20%;
}

* {box-sizing:border-box}

/* zmiany */

.slideshow-container {
  text-align: center;
  border:solid brown;
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {  
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 111111115.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

#menu ul li {
  background-color:rgb(51, 142, 228)  ;
  padding: 15px;
  list-style-type: none;
  float: left;
  margin-right: 2px;    
}

#menu ul li a {
  text-decoration: none;
  font-family: Georgia;
  font-size: 14pt;
  font-weight: bold;
  color: black;
  padding: 5px; 
}
#menu {
  padding: 20px;
  height: 100px;
  background-color:rgb(175, 211, 233);
} 

.slider{
  height:500px;
  width: 50%;
  margin: 0 auto;
  background: rgb(175, 211, 233);
  
}
.index_tlo{
  background: rgb(175, 211, 233);
  border:solid rgb(175, 211, 233);

}

.nag_1{
  font-size:20pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  background: rgb(175, 211, 233);
  padding-bottom: 20px;
}
#Klasyfikacja{
  display: flex;
  justify-content: center;
}

#kolor{
  background: rgb(175, 211, 233);
  border:solid brown 2px;
}

.foto  {
  height:240px;
  width: 320px;
  border:solid brown 2px;
}

.zdjp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(175, 211, 233);
}

.article{
  margin: auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: rgb(175, 211, 233);
  margin-bottom: 100px; 
}

.ram{
  display: flex;
  justify-content: space-between;
  padding: 100px;    
}   

.foter{
  border:solid brown 2px;
  width: 100%;
  height: 40%;
  padding-top: 5%;
  background: rgb(51, 142, 228);
  padding-bottom: 5%;
  top:100%;    
}

.foter div {
  height: 100px;
  text-align: center;
  background-color: rgb(51, 142, 228);
  font-family: Georgia;
  font-size: 14pt;
  padding-top: 30px;
}

#foter div hr {
  width: 50%;
  position: relative;
  left: 25%;
  margin: 15px;
}

.add {
  float: right !important;
  position: relative;
  margin-right: 5px;
}

.add a:hover{
  background-color: wheat;
}

#menu ul li:hover{
  background-color: wheat;
}


/* przewodnik.html*/

.tlo_przewodnik{
  max-height:100% ;
  background: rgb(175, 211, 233);
  border:solid brown;
}
.tlo_przewodnik h1{
  background: rgb(175, 211, 233);
  font-size:26pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-bottom:3%;
}
.tlo_przewodnik article{
  font-size:18pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 2%;

}
.przewodnik_z{
  width:300px;
  height: 300px;
  margin:40px;
  display:inline-block;
  justify-content: center;
  position: relative;
  left:13%;
  border :solid brown 2px;

}
.przewodnik_nagl2{
  font-size:18pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 2%;
}
.przewodnik_lista{
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 5%;

}


/*izolator.html*/

.tlo_izolator{
  border:solid brown;
  background: rgb(175, 211, 233);
}
.tlo_izolator h1{
  font-size:26pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-bottom:3%;
}
#izolator_zdj1{
  width: 800px;
  height: 450px;
  padding-bottom: 5%;
}
.tlo_izolator article{
  font-size:18pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 5%;
}
.tlo_izolator h2{
  font-size:18pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 2%;
  padding-top:5%;
}
.tlo_izolator h3{
  font-size:20pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 2%;
  padding-top:5%;
}
.izolator_lista{
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 1%;
  padding-top:1%; 
}

.button2{
  width:50px;
  height: 106px;
  margin:5px;
  font-size: 25px;
  padding:5px;
}

/* sklep.html */

#tło_sklep{
  background: rgb(175, 211, 233);
  border:solid brown;
}

#lista1{
  background:rgb(175, 211, 233);  
}
.container h3{
  font-weight: bold;
  color:brown;
}



.kalk{
  border:solid rgb(114, 11, 11) 2px;
  position: absolute;
  background: rgb(161, 156, 156);
  left:42.5%;
  margin-top: 10px;
  padding:10px;
}
#img_logos{
  width: 130px;
  height: 80px;
}
.kalkulator_nagl{
  font-size:20pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-top: 40px;
  background: rgb(175, 211, 233);
}
.opis_kalkulator{
  padding-top: 40px;
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 5%;
  margin-right: 1%;
}

/*pomoc*/

#area{
  height: 90px;
}

.col-md-8 h3{
  padding-top: 25px;
  font-weight: bold;
}

.form_pomoc{
  padding-top: 30px;
  padding-bottom: 30px;
}

.click{
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15pt;
}

.text-danger{
  padding-top: 30px;
}

.form_pomoc .sent-notification{
  color: green;
  text-align: center;
  font-size: 17pt;
  font-weight: bold;
}

#myForm{
  padding-bottom: 30px;
}


/*formularz*/
.error{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row h3{
    color: brown;
    padding-bottom: 10px;
}
.formh3{
    padding-bottom: 20px;
}


/*witamy.php*/
.formh4{
  color: brown;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}


/*logowanie*/
.row h5 a{
  color: red;
}

.log{
  height: 600px;
}

.wyloq{
  font-size: 20pt;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: rgb(9, 61, 128);
}


/* dodaj.php */

.Nagl_dodaj{
  font-size:20pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-top: 50px;
  background: rgb(175, 211, 233);
}

.dodaj_s{
  background:  rgb(175, 211, 233);
  border:solid   rgb(175, 211, 233);;
}


.inputy{
  font-size:14pt;
  padding-top:10px;
  position: relative;
  left:40%;

}

.kwadraciki{
  position: absolute;
  left:50%;
  padding-top:5px;
  padding-bottom: 5px;

}

#zapisz_dodaj{
  font-size: 15pt;
  position: relative;
  left: 37%;
  padding-top:2px;
  font-weight: 200;
  padding-bottom: 2px;
  width: 400px;
  margin:30px;
}


/* kalkulator.html */

.display{
  background: rgb(175, 211, 233);
  border:solid rgb(175, 211, 233);
  width: 100%;
  height:800px;
  top:50%;
  left:50%;
}
#result2{
	text-align: right;
	height: 65px;
	margin:5px;
    font-size: 25px;
}
#result{
    text-align: right;
	margin: 0 0px;
	padding-top: 10px;
	font-size: 15px;
	color: black;
    height: 70px;
    background-color: white;
    padding-right: 5px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25pt;
    margin:3px;
    cursor: pointer;
}
.number{
    width: 50px;
    height: 50px;
    font-size: 25pt;
    margin:3px;
    cursor: pointer;

}
.operator{
    width: 50px;
    height: 50px;
    font-size: 25pt;
    margin:3px;
    cursor: pointer;
}
.textview{
    width: 217px;
    margin:5px;
    font-size: 25px;
    padding:5px;

}
.button1{
    width:106px;
    height: 50px;
    font-size: 25pt;

}

#kalk{
  border:solid rgb(114, 11, 11) 2px;
  position: absolute;
  background: rgb(161, 156, 156);
  left:42.5%;
  margin-top: 10px;
  padding:10px;
}

#img_logos{
  width: 130px;
  height: 80px;
}

#kalkulator_nagł{
  font-size:20pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-top: 40px;
  background: rgb(175, 211, 233);
}

#opis_kalkulator{
  padding-top: 40px;
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 5%;
  margin-right: 1%;
}

/* półprzewodnik.html */


.tlo_polprzewodnik{
  border:solid brown 2px;
  background: rgb(175, 211, 233);
  height: 1400px;
}
.tlo_polprzewodnik h1{
  font-size:26pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-bottom:3%;
}
.półprz_zdj1{
  height: 250px;
  width: 330px;
  float: left;
}
.tlo_polprzewodnik h2{
  font-size:22pt;
  color:brown;
  text-align:center;
  font-weight: 800;
  padding-bottom:3%;
  padding-top:10px;
}
.pół_z1{
  display: inline-block;
  justify-content: center;
  margin-right: 5%;
  background: rgb(175, 211, 233);
  border:solid brown 2px;
}
.tlo_polprzewodnik article{
  font-size:18pt;
  margin:1px;
  margin-left: 3%;
  padding-bottom: 2%;

}
.polprz_s{
  position: relative;
  left:15%;

  width: 80%;
}
.txt1{
  font-size:15pt;
  text-align: center;
}
.Nag_p{
  font-size:18pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 2%;
  padding-top:5%;
}
.polprzewodnik_lista_1{
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 1%;
   
}
.dio{
  font-size: 15pt;
}
.polprzewodnik_lista_1 li {
  font-size:14pt;
  margin:1px;
  margin-left: 1%;
  padding-bottom: 1%;
}




